<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login...</title>
</head>
<body>
    <header>
        <div class="logo"><h1>Let's Play</h1></div>
        <div class="pages">links</div>
        <form action="/loginpage" method="GET">
            <button class="forusers">login</button>
        </form>
    </header>
    <h1>Welcome to my new Innovation</h1>
    <p>Here's more than <span>100</span> interesting things</p>
    <button class="newusers">Join us</button>
</body>
</html>