<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>login-page </title>
</head>
<body>
    <form method='get' action="/login/home">
        <input type="text" placeholder="Enter your name" class="enter-name">
        <input type="password" placeholder="Password" class="enter-pass">
        <button type="submit" class="push">Submit </button>
    </form>
</body>
</html>