<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>login-page </title>
</head>
<body>
    <h1>Welcome to Login-Page</h1>
    <p>Here's more than <span>1000</span>Users</p>
    <form method='POST' action="/loginpage/<%=results.username%>/<%=results.password%>?_method=PATCH">
        <input type="text" placeholder="Enter your name" class="enter-name" name="username">
        <input type="password" placeholder="Password" class="enter-pass" name="password">
        <button type="submit" class="push">Submit </button>
    </form>
</body>
</html>